@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display|Raleway&display=swap');

.footer-nav {
  background-color:#d8d7d7;
  width: 100%;
  text-align:center;
}

.website-link{
  text-align:center;
  font-size:1.2em;
  padding:5px;
}
img {
  max-width:100%;
  height:auto;
  padding: 5px; 
}

p {
  font-family: 'Raleway', sans-serif;
}

body {
	font-size: 16px;
  font-family: 'Big Shoulders Display', cursive;
}
/* phone or baseline views **************************/
main {
	max-width: 767px;
	margin: 0 auto;
  padding: 20px;
}

h1 {
	color: black;
  text-align:center;
  font-size:2em;
  background-color:#d8d7d7;
  padding:15px;
  border-radius:12px;
}
h2 {
	color: #536878;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

main section {
	margin: 0.5rem;
	padding: 0 1rem;
	background-color: white;
}
section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}
.colimage {
	box-shadow: 0 0 30px #333;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}

	section:nth-child(2) {
		display: block;
	}

	section:nth-child(3) {
		grid-column: span 2;
	}

	main picture {
		display: block;
	}
	main section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	section:nth-child(3) {
		grid-column: span 1;
	}
}